
#qwe {
    background: white;
    text-align: center;
    color: blue;
}

#cow {
    position: fixed;
    text-align: center;
    background: rgba(41, 154, 175, 0.88);
    color: black;
}

p {
    border: 5 px black;
    border-radius: 6px;
    
}

#all {
    background: purple;
    width: 50%;
    margin: auto;
}

h3 {
    font-family: cursive;
    font-display: fallback;
}

ol {
    width: 100px;
    padding: 10px;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 5px;
}
